input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color:#fcc93a;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color: #fcc93a;
  }
  
  .contactcontainer {
    border-radius: 5px;
    background-color:black;
    padding: 20px;
    color: #fcc93a;
  }
  
  .colTitle {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .colInput {
    float: left;
    width: 70%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .colTitle, .colInput, input[type=submit] {
      width: 98%;
      margin-top: 0;
    }
  }