/* This is for header */
.header {
    overflow:hidden;
    background-color: #fcc93a;
    color: black;
  }

  .header a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    margin-top: 50px;
  }

  .header a:hover {
    background-color: black;
    color:#fcc93a;
  }

  .header a.active{
    background-color: black;
    color:#fcc93a;
  }

  .headerRight{
    float: right;
  }

 

/* This is for mainContent*/
.mainContent{
    height: 550px;
    background-image: url(img/mainContentPic.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

#mainContentH1{
  color: aliceblue; 
  font-size:60px; 
  padding-top: 3%; 
  padding-left: 5%;
  margin-top: 0px;
}

#mainContentH2{
  color: aliceblue; 
  padding-top: 6%; 
  padding-left: 5%;
}



/* This is for verticle tabs */

.tab{
    float: left;
    border: 1px solid #fcc93a;
    color: #fcc93a;
    background-color: black;
    width: 30%;
    height: 300px;

}

.tab button{
    display: block;
    background-color: black;
    color:#fcc93a;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;


}

.tab button:hover{

    color:black;
    background-color:#fcc93a;

}

.tab button.active{
    background-color: #fcc93a;
    color:black;
}

.tabDescription{
    float: left;
    padding: 0px 12px;
    border: 1px solid #fcc93a;
    width: 67%;
    border-left: none;
    height: 300px;
    background-color: #fcc93a;
    color:black;
    text-decoration: none;
    font-size: 18px;

}

.titleContents
{
  text-align: center;


}
.titleContents:hover{
  text-transform: uppercase;
  transition-timing-function: ease-in-out;
  background-color:#fcc93a;
  color: black;
  animation-name: example;
  animation-duration: 4s;
  
}
@keyframes example {
  from {background-color: white;}
  to {background-color: #fcc93a;}
}

.footerColumn
{
  float: left;
  width: 33.33%;
  background-color: #fcc93a;
  color:black;
  height: 200px;
}

.serviceColumn
{
  float: left;
  width: 33.33%;
}

textarea{
  width: 70%;
  height: 90px;
}
.copyRight
{
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: #fcc93a;
  
}

.testimonials{
  float: left;
  background-color: #fcc93a;
  color: black;
  width: 33.33%;
  text-decoration: none;


}
.developer
{
  width: 100%;
  background-color: black;
  color:aliceblue;
  margin-top: -22px;
  text-align: center;
}
.openingTimes{
  font-size: 16px;

}

@media screen and (max-width: 1000px)
{
  .header a {
      float: none;
      display: block;
      text-align: left;

  }

  .headerRight{
      display: flex;
      float: right;
      padding: 12px;
  }
  #mainContentH1{
    font-size: 20px;
  }
  #mainContentH2{
    display: inline-block;
    width: 100px;
    font-size: 18px;
    
  }
  .tab{
    width: 25%;
    height: 300px;
  }
  .tabDescription{
    width: 69%;
    color:black;
    text-decoration: none;
    font-size: 14px;
  }
  .testimonials {
    width: 100%;
    text-align: justify;
  }


  .footerColumn {
    float: left;
    width: 33.33%;
    background-color: #fcc93a;
    color: black;
    height: 180px;
    font-size: 11px;
    font-weight: bold;
}

  .developer{
    width: 100%;
    text-align: center;
  }
  .openingTimes{

    font-size: 11px;
    font-weight: bold;
  }
}

