


/* This is for header */
.header {
    overflow:hidden;
    background-color: #fcc93a;
    color: black;
  }

  .header a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    margin-top: 50px;
  }

  .header a:hover {
    background-color: black;
    color:#fcc93a;
  }

  .header a.active{
    background-color: black;
    color:#fcc93a;
  }

  .headerRight{
    float: right;
  }

  @media screen and (max-width: 500px)
  {
    .header a {
        float: none;
        display: block;
        text-align: left;

    }

    .headerRight{
        float: none;
    }
  }

/* This is for mainContent*/
.mainContent{
    height: 550px;
    background-image: url(img/mainContentPic.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}


/* This is for verticle tabs */

.tab{
    float: left;
    border: 1px solid #fcc93a;
    color: #fcc93a;
    background-color: black;
    width: 30%;
    height: 300px;

}

.tab button{
    display: block;
    background-color: black;
    color:#fcc93a;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;


}

.tab button:hover{

    color:black;
    background-color:#fcc93a;

}

.tab button.active{
    background-color: #fcc93a;
    color:black;
}

.tabDescription{
    float: left;
    padding: 0px 12px;
    border: 1px solid #fcc93a;
    width: 67%;
    border-left: none;
    height: 300px;
    background-color: #fcc93a;
    color:black;
    text-decoration: none;
    font-size: 18px;

}

