img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: fit-content;
    margin: auto;

}



.slideShow{

    display: none;
}

.cursor{
    cursor: pointer;
}


/* Next and prev buttons */

.previuos,.next{

    cursor: pointer;
    position: absolute;
    padding: 16px;
    top: 40%;
    width: auto;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previuos:hover,.next:hover
{
    background-color: rgba(0,0,0,0.8);

}

/* Number text at the top */
.numberText
{
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}

.captionContainer{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 16.66%;
}

.demo{
    opacity: 0.6;
}

.active,.demo:hover{
    opacity: 1;
}